.wrapper {
  display: flex;
  gap: 20px;
  overflow-x: hidden; /* скрываем стандартный скролл */
  cursor: grab;       /* меняем курсор */
  padding: 10px;
  user-select: none;  /* нельзя выделять текст при drag */
  margin-top: 80px;
}

.wrapper.active {
  cursor: grabbing;
}

.card {
  max-width: 400px; /* ширина карточки */
  flex-shrink: 0;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-right: 120px;
  border: none;

}

.card-img{
    border-radius: 5%;
}

.card-title{
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0 0 0;

  /* создаём градиент */
  background: linear-gradient(90deg, #B224EF, #7579FF);

  /* важные свойства для текста */
  -webkit-background-clip: text;  /* для WebKit-браузеров */
  -webkit-text-fill-color: transparent; /* делает текст прозрачным */
}

.card-subtitle{
    font-size: 18px;
}

@media (max-width: 720px) {
    .wrapper{
        margin-top: 40px;
    }
    .card{
        max-width: 200px;
        margin-right: 50px;
    }
    .card-img{
    border-radius: 5%;
    width: 200px;
    }
    .card-title{
        margin-top: 20px;
    }
}