

.skills{
  margin-top: 200px;
  margin-left: 100px;
  width: 100%;
  max-width: 1300px;
}
.circle__wrapper{
  margin-top: 100px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  
}
.circle{

  margin-right: 120px;
  margin-bottom: 60px;
}
.circle p{
  display: flex;
  justify-content: center;
}
@media(max-width:1430px){
    .skills{
        max-width: 1050px;
    }
}
@media(max-width:1300px){
    .skills{
        margin-left: 50px;
    }
}

@media(max-width:1200px){
  .skills{
  margin-top: 100px;
  }
  .circle{
    margin-right: 100px;
  }
}
@media(max-width:1024px){
  .skills{
    margin-left: 20px;
  }
}

@media(max-width:700px){
  .circle__wrapper{
    margin-top: 60px;
  }
  .circle{

  margin-right: 60px;
  margin-bottom: 40px;
}
}
@media(max-width:450px){
  .circle{
    margin-right: 30px;
  }
}
@media(max-width:380px){
  .circle{
    margin-right: 10px;
  }
}