body{
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}
a{
  text-decoration: none;
}
.main{
  max-width: 1511px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px; /* Отступы для маленьких экранов */

}


main{
  max-width: 100%;
  /* margin: 0 auto; */
}

.home{
  display: flex;
  position: relative;
  margin-left: 100px;

}



.home__right{
  position: relative;

}
.home__right h1{
  position: relative;
  width: 100%;
  width: 600px;
  margin-top: 140px;
  margin-bottom: 55px;
  font-size: 96px;
  font-weight: 600;
  line-height: 1;
  color: #1B1C37;
}
.highlight{
  position: absolute;
  top: -30px;
  right: 200px;

}
.palette{
  height: 90px;
}
.home__right p{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  max-width: 312px;
}
.home__right button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  width: 300px;
  height:  68px;
  background: linear-gradient(to right, #B224EF, #7579FF);
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.home__right-arrow{
  position: absolute;
  right: 30px;
  bottom: -120px;
}

.home__left{
position: absolute;
top: 70px;
left: 500px;
}
.home__left-img{
  max-width: 900px;
}

@media(max-width:1500px){
  .home__left-img{
    max-width: 700px;
  }
  .home__left{
  top: 70px;
  left: 500px;
  }
}
@media(max-width:1300px){
  .home__left{
  top: 70px;
  left: 400px;
  }
  .home{
    margin-left: 50px;
  }

}
@media(max-width:1200px){
  .home__right h1{
    margin-top: 100px;
  }
  .home__left{
  top: 70px;
  left: 350px;
  }
}
@media(max-width:1150px){
  .home__left{
  top: 70px;
  left: 350px;
  }
  .home__left-img{
    width: 600px;
  }
  /* .home{
    width: 800px;
  } */

}
@media(max-width:1024px){
  .home__left{
    display: none;
  }
  .home{
    margin-left: 20px;
  }
}
@media(max-width:650px){

  nav{
    margin-top: 44px;
  }

  .mobile-menu{
    top: 45px;
  }

  .home__right h1{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-top: 62px;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 1;
  color: #1B1C37;

  
}
.home__right p{
  font-size: 14px;
}
.home__right button {
  width: 182px;
  height: 50px;
  font-size: 18px;
  margin-top: 30px;
  
}

.home__right-arrow{
  right: -30px;
  bottom: -83px;
  height: 138px;

}

.highlight{
  position: absolute;
  top: -14px;
  right: 84px;
  width: 38px;
  height: 38px;

}
.palette{
  height: 50px;
}
}
@media(max-width:400px){
  .home__right-arrow{
  right: -26px;
  bottom: -52px;
  height: 100px;

}
/* .mobile-menu {
  width: 70%;
} */
}

.portfolio{
  margin-left: 100px;
}

.blocks{
  position: relative;
}
.porfolio__title{
  font-size: 60px;
  font-weight: bold;
  margin: 0;

  /* создаём градиент */
  background: linear-gradient(90deg, #B224EF, #7579FF);

  /* важные свойства для текста */
  -webkit-background-clip: text;  /* для WebKit-браузеров */
  -webkit-text-fill-color: transparent; /* делает текст прозрачным */

}

.portfolio__underline{
  position: absolute;
  left: 80px;
  width: 160px;
}
@media (max-width: 720px) {
  .portfolio{
    margin-left: 20px;
  }
  .porfolio__title{
    font-size: 24px;
  }
  .portfolio__underline{
    width: 70px;
    left: 25px;
  }
}


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  position: relative;
  justify-content: center;

}

.link{
  margin-right: 40px;

}
.link img{
  width: 40px;
}
.footer-text{
  display: flex;
  text-align: center;
}



.dots3 {
  display: grid;
  grid-template-columns: repeat(3, 10px); /* 3 точки в ряд */
  grid-template-rows: repeat(2, 10px);    /* 3 ряда */
  gap: 20px;                              /* расстояние между точками */
  width: max-content;                     /* блок подгоняется под контент */
  position: absolute;
  left: 0;
  top: 100px;
}
.dots4{
  display: grid;
  grid-template-columns: repeat(5, 10px); /* 3 точки в ряд */
  grid-template-rows: repeat(3, 10px);    /* 3 ряда */
  gap: 20px;                              /* расстояние между точками */
  width: max-content;                     /* блок подгоняется под контент */
  position: absolute;
  right: 0;
  top: -50px;
}
.dot1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;   /* делаем кружочком */
  background-color: black;
}

@media (max-width: 800px) {

  .footer{
    margin-top: 40px;
  }

  .link img{
  width: 20px;
  }
  .link{
  margin-right: 20px;

}

  .dots3{
    gap: 5px;

  }
  .dots4{
    gap: 5px;

  }
  .dot1{
    width: 10px;
    height: 10px;
  }

}